{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.resetting.password_already_requested.layout_template  %}

{% block title %}{{- 'ccdn_user_user.title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'ccdn_user_user.title.reset.check_mail'|trans({}, 'CCDNUserUserBundle') -}}</h3>
	</header>

	<section>
		<div class="well">
			<p>{{- 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') -}}</p>
		</div>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
