{%- spaceless -%}

<p>This website and its content is copyright 
{{- ccdn_user_user.legal_identification.show_company_name ? ' of ' ~ ccdn_user_user.legal_identification.company_name ~ ' - © ' ~ ccdn_user_user.legal_identification.company_name : '' -}}
{{- ccdn_user_user.legal_identification.show_copyright_year ? ccdn_user_user.legal_identification.copyright_year : '' -}}. All rights reserved.</p>

<p>Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:</p>

<ul>
	<li>you may print or download to a local hard disk extracts for your personal and non-commercial use only</li>
	<li>you may copy the content to individual third parties for their personal use, but only if you acknowledge the website 
	as the source of the material</li>
</ul>

<p>You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit 
it or store it in any other website or other form of electronic retrieval system.</p>

{%- endspaceless -%}