{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.legal.copyright_notice.layout_template  %}

{% block title %}{{- 'ccdn_user_user.title.legal.copyright_notice'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}

	{%- include 'CCDNUserUserBundle:Sidebar:legal_sidebar.html.twig' -%}

{% endblock %}

{% block tool_bar %}{# clear out the tool bar for this page #}{% endblock tool_bar %}


{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'ccdn_user_user.title.legal.copyright_notice'|trans({}, 'CCDNUserUserBundle') -}}</h3>
	</header>

	<article>
		<pre>
			{%- include ccdn_user_user.legal.copyright_notice.document -%}
		</pre>
	</article>
	
	{%- include 'CCDNUserUserBundle:Footer:footer.html.twig' -%}
	
	{%- endspaceless -%}

{% endblock body_content %}
