{% extends 'CCDNUserUserBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.legal.copyright_notice.layout_template  %}

{% block title %}{{- 'title.legal.copyright_notice'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block sidebar %}

	{%- include 'CCDNUserUserBundle:Sidebar:legal_sidebar.html.twig' -%}

{% endblock %}

{% block tool_bar %}{# clear out the tool bar for this page #}{% endblock tool_bar %}


{% block body_content %}

	{%- spaceless -%}

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					{{- 'title.legal.copyright_notice'|trans({}, 'CCDNUserUserBundle') -}}
				</h4>
			</div>
			<div class="panel-body">
				{%- include ccdn_user_user.legal.copyright_notice.document -%}
			</div>
		</div>
	
	{%- endspaceless -%}

{% endblock body_content %}
