{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.registration.register.layout_template  %}

{% block title %}{{- 'ccdn_user_user.title.legal.terms_conditions'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	<h2>{{- 'ccdn_user_user.title.legal.terms_conditions'|trans({}, 'CCDNUserUserBundle') -}}</h2>

	{%- include ccdn_user_user.legal_documents.terms_conditions -%}

	{%- endspaceless -%}

{% endblock body_content %}
