{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.registration.check_email.layout_template %}

{% block title %}{{- 'title.register.activation.pending'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block tool_bar %}{# clear out the tool bar for this page #}{% endblock tool_bar %}

{% block sidebar %}
	{%- include 'CCDNUserUserBundle:Sidebar:sidebar_register.html.twig' -%}
{% endblock sidebar %}

{%- block navbar_site_primary -%}
	{%- include 'CCDNUserUserBundle::header_alt_register.html.twig' -%}
{%- endblock navbar_site_primary -%}

{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'title.register.activation.pending'|trans({}, 'CCDNUserUserBundle') -}}</h3>
	</header>

	<section>
		<div class="well">
			<p>{{- 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') -}}</p>
		</div>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
