{% extends 'CCDNUserUserBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_user.registration.terms.layout_template  %}

{% block title %}{{- 'title.register.activation.pending'|trans({}, 'CCDNUserUserBundle') -}}{% endblock %}

{% block tool_bar %}{# clear out the tool bar for this page #}{% endblock tool_bar %}

{% block sidebar %}
	{%- include 'CCDNUserUserBundle:Sidebar:sidebar_register.html.twig' -%}
{% endblock sidebar %}

{%- block navbar_site_primary -%}
	{%- include 'CCDNUserUserBundle::header_alt_register.html.twig' -%}
{%- endblock navbar_site_primary -%}

{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'title.register.terms'|trans({}, 'CCDNUserUserBundle') -}}</h3>
	</header>

	<article>
		<pre>
			{%- include ccdn_user_user.legal.terms_conditions.document -%}
		</pre>
	</article>

	<form action="{{- path('ccdn_user_user_registration_terms') -}}" method="POST">
		<div class="form-actions center">

			<h4>
				<input type="checkbox" id="accept_terms" name="accept_terms" value="1" />
				&nbsp;&nbsp;I accept the terms and conditions.
			</h4>

			<br>

			<input type="submit" class="btn" value="I Accept" />

			<a class="btn" href="{{- path('fos_user_security_login') -}}">
				I do NOT Accept
			</a>
		</div>
	</form>

	{%- endspaceless -%}

{% endblock body_content %}
